@font-face {
    font-family: 'icones';
    src: url(assets/font/icones.ttf);
}
body{
    background-color: #1D232A;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: white;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: #15191C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.cabecalho__menu i::before{
    content: "\e904";
    font-size: 2em;
}
.cabecalho__notificacao i::before{
    content: "\e906";
    size: 2em;
    font-size: 2em;
}
.cabecalho__logo{
    width: 40px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #15191C;
    width: 75vw;
    height: 100vh;
    position: absolute;
    left: -100vw;
}
.sidebar-ativo{
    left: 0;
}
.sidebar__logo{
    width: 118px;
    align-self: center;
    padding: 16px;
}
.sidebar > a{
    height: 64px;
    color: #95999C;
    padding-left: 64px;
    display: flex;
    align-items: center;
}
.sidebar > a::before{
    content: \e902;
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}
.inicio::before{
    content: "\e902";
}
.videos::before{
    content: "\e90e";
}
.picos::before{
    content: "\e909";
}
.integrantes::before{
    content: "\e903";
}
.camisas::before{
    content: "\e900";
}
.pinturas::before{
    content: "\e90a";
}
.sidebar > a:hover{
    color: white;
    padding-left: 56px;
    border-left: 8px solid white;
}
h2.titulo-principal{
    font-size: 1.5em;
    font-weight: bold;
    padding: 16px;
}
div.cartao{
    width: 100%;
    background-color: #2C343A;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 16px;
}
div.conteudo{
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
}
.cartao_destaque{
    grid-column: span 2;
}
.cartao_titulo{
    font-size: 1.2em;
    font-weight: bold;
    grid-column: span 2;
}
.cartao_perfil{
    color: #95999C;
    font-size: 0.9em;
    grid-column: span 2;
}
.cartao_info{
    display: flex;
    align-items: center;
    color: #95999C;
}
.cartao_tempo::before{
    content: "\e90c";
    margin-right: 8px;
}
.cartao_visualizacao::before{
    content: "\e90f";
    margin-right: 8px;
}
.cartao_botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0480DC;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9em;
    align-self: flex-end;
}
.cartao_botao_play{
    content: "\e90b";
    font-size: 24px;
}
.cartao_botao_play::before{
    content: "\e90b";
    font-size: 24px;
}
.cartao_botao_destaque{
    width: 100%;
    grid-column: span 2;
}
.cartao_botao_destaque::before{
    content: "\e90b";
    margin-right: 8px;
}
h2.titulo_secundario{
    font-size: 1.5em;
    font-weight: bold;
    padding: 16px;
}